.container {
  display: flex;
  height: 100%;
  background-color: #F3F4F4;
  gap: 8px;
  flex-direction: column;

  .loader {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .status {
      width: 300px;
      position: relative;

      .info {
        padding: 8px 0;
        color: #555;
        text-align: center;
      }

      .close {
        position: absolute;
        top: -8px;
        right: -32px;

        button {
          border-radius: 50%;

          svg {
            fill: lightgray;
          }
        }
      }
    }
  }

  .listing {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    height: 100%;
    max-width: 100%;

    .header {
      flex: 0 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      gap: 16px;
      padding: 8px;

      .col {
        display: inline-grid;
        gap: 4px;
        grid-template-rows: 1fr 8px;
        align-items: end;

        &.right {
          margin-left: auto
        }

        &.with-info {
          grid-template-columns: 1fr min-content;

          .group-fields {
            display: inline-flex;

            input {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            button {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }

      .whole-row {
        flex-basis: 100%;
      }
    }

    .content {
      flex: 1 1 auto;
      position: relative;
      overflow-y: auto;
      display: flex;

      .recommendations {
        .cell-link {
          background: none;
          border: 0;
          color: #0C74DF;
          cursor: pointer;
          padding: 0;
          text-decoration: none;

          &:focus {
            background-color: #DBEDFE;
            text-decoration: underline;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .status-cell {
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }

        .status-icon {
          margin-left: 4px;
        }
      }
    }

    &.splash {
      justify-content: center;

      div {
        width: 50%;
        margin: 8px auto;

        ul, ol {
          padding: 0 16px;
        }

        &.centered {
          text-align: center;
        }
      }
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    .header {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      
      .meta-bar {
        padding: 8px;
        display: flex;
        align-items: center;

        .close {
          margin-left: auto;
        }
      }

      .selections-list {
        padding: 8px;
        min-height: 24px;
        font-size: 12px;
        line-height: 16px;
        cursor: text;

        .tag {
          display: inline-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 4px;
          background-color: #e1edff;
          border-radius: 3px;
          color: #0b6acb;
          margin-right: 8px;
          margin-bottom: 4px;
  
          .text {
            flex: none;
            order: 0;
            flex-grow: 0;
          }
  
          .remove {
            margin-left: 4px;
            cursor: pointer;
          }
        }
      }
      
      .top-bar{
        padding: 8px;
        display: flex;
  
        .counter, .action {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 8px;
          gap: 4px;
        }
  
        .counter {
  
          .count {
            font-size: 32px;
            line-height: 40px;
            font-weight: 600;
            color: #6b757b;
  
            &.good {
              color: #026747;
            }
  
            &.bad {
              color: #B00F0A;
            }
          }
        }

        .action {
          flex-direction: row;
          gap: 32px;

          .close {
            color: lightgray;
          }
        }
      }
    }

    .content {
      flex: 1 1 auto;
      position: relative;
      overflow-y: auto;

      .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 8px;

        .column {

          .title {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 8px;
          }

          .check {
            display: flex;
            align-items: start;
            margin-bottom: 4px;
  
            input[type=checkbox] {
              align-self: start;
            }
  
            label {
              padding-right: 4px;
            }
  
            .count {
              line-height: 16px;
              color: #6b757b;
            }
  
            &.show-all {
              text-align: center;
              color: #0C74DF;
              cursor: pointer;
    
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .category {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 20%));
        padding: 8px;
        padding-top: 16px;
        gap: 8px;
    
        .title {
          grid-column: 1 / 6;
          font-size: 14px;
          line-height: 20px;
        }

        .check {
          display: flex;
          align-items: start;

          input[type=checkbox] {
            align-self: start;
          }

          label {
            padding-right: 4px;
          }

          .count {
            line-height: 16px;
            color: #6b757b;
          }

          &.show-all {
            text-align: center;
            color: #0C74DF;
            cursor: pointer;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        .tag {
          padding-bottom: 8px;
  
          .title {
            color: #6b757b;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 4px;
          }

          .check {
            margin-bottom: 4px;
          }
        }
    
        .option {
          font-size: 12px;
          line-height: 16px;
          color: #293338;
          padding: 8px;
  
          .tag {
            color: #6b757b;
            font-size: 12px;
            line-height: 16px;
          }
  
          input {
            align-self: start;
          }
  
          &.show-all {
            justify-self: center;
            align-self: start;
          }
        }
      }
    }
  }
}

.progress {
  border-radius: 4px;
  background-color: #edeeee;

  .counter {
    height: 8px;
    width: 0;
    border-radius: 4px;
    background-color: rgb(22, 179, 213);
    transition: width 3s;
  }
}

.message {
  &.filter-limit {
    margin-bottom: 16px;
  }

  &.redirector {
    padding-bottom: 8px;
    background-color: #f3f4f4;
  }
}

.modal-container {
  height: 100%;
  display: flex;

  .modal-content {

    .title {
      padding-bottom: 8px;

      .values-for {
        font-weight: 600;
      }
    }

    .filter {
      display: inline-flex;
      width: 100%;
      border: 1px solid #E7E9EA;
      border-radius: 4px;
      align-items: center;
      margin-bottom: 8px;

      .tf-icon {
        margin-left: 4px;
      }
    }

    .values {
      .check {
        display: flex;
        align-items: start;
        margin-bottom: 4px;

        input[type=checkbox] {
          align-self: start;
        }

        label {
          padding-right: 4px;
        }

        .count {
          line-height: 16px;
          color: #6b757b;
        }
      }
    }
  }
}

.date-picker-text-field {
  width: 96px;
}

.date-picker {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .cell {
    display: inline-block;
    width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #293338;
    user-select: none;

    &.day {
      font-size: 11px;
    }

    &.mo-yr {
      font-size: 14px;
      grid-column: 2 / 7;
      white-space: nowrap;
      justify-self: center;
      width: 100%;
    }

    &.prev, &.next, &.date {
      cursor: pointer;
    }

    &.selected {
      border-radius: 3px;
      background-color: #293338;
      color: #fafbfb;
    }

    &.disabled {
      color: #9ea5a9;
      font-weight: 400;
      cursor: auto;
    }

    &.date {
      &:not(.selected):not(.disabled) {
        &:hover {
          color: #0c74df;
        }
      }
    }

    abbr {
      text-decoration: none;
    }
  }

  
}
