@import './nrds.scss';
@import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';

.gk-content {

    label {
        font-size: 14px;
        line-height: 16px;
    }
    .filter-bar {
        border-bottom: 1px solid #edeeee;
        height: 32px;
        vertical-align: middle;

        .filter-block {
            display: inline-block;
            height: 32px;
            vertical-align: middle;
            border-right: 1px solid #edeeee;
            margin: 0 0.5em;
            padding: 0 0.5em;

            label {
                height: 100%;
                line-height: 100%;
                vertical-align: baseline;
            }
            select {
                vertical-align: baseline;
            }

            &:last-of-type {
                border: none;
            }
        }
    }

    h2, h3 {
        margin-bottom: 0.5em;
    }

    .settings {
        text-align: right;
    }

    .report {
        display: flex;

        .agent-table {
            margin: 1em 0 0 1em;
            width: 100%;
        }

        .agent-versions {
            margin-left: auto;
            order: 2;
        }
    }

    .loader-error {
        color: red;
    }
    .loader-success {
        color: green;
    }
    .loader-active, .loader-error, .loader-success {
        font-family: monospace;
    }
}

.toolbar-container {
    margin-bottom: 12px;
    box-sizing: border-box;
    border-top: 1px solid #d5d7d7;
    border-bottom: 1px solid #e3e4e4;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
    background: #edeeee;
    padding: 0 16px;
}
  
.toolbar-section1 .toolbar-item:first-child {
    padding-left: 0;
}

.toolbar-item {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    align-items: center;

    &.has-separator {
        border-right: 1px dotted #d5d7d7;
    }

    &:not(.has-separator) {
        padding-right: 0;
    }
}
